[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bamdit"]
	path = bamdit
	url = https://github.com/cran/bamdit
[submodule "jarbes"]
	path = jarbes
	url = https://github.com/cran/jarbes
